* {
  box-sizing: border-box;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
  padding-right: $column-gutter;
  padding-left: $column-gutter;
}

.container-fluid {
  padding-right: $column-gutter;
  padding-left: $column-gutter;
}

.row {
  display: flex;
  flex-wrap: wrap;

  &:not(&--no-gutters) {
    margin-right: -$column-gutter;
    margin-left: -$column-gutter;

    & > .col,
    & > [class^="col-"] {
      padding-right: $column-gutter;
      padding-left: $column-gutter;
    }
  }

  &.row-vcentered {
    align-items: center;
  }
}

@include generate-columns($breakpoints, $grid-columns);